<a href="https://colab.research.google.com/github/MatheusMDi/basico/blob/main/Basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


aprendendo variáveis

In [ ]:
var1 = "--"
print(var1*40)

--------------------------------------------------------------------------------


#Conversão Dados
int( ) float( ) str( )

In [ ]:
#Float to Int
print(int(20.141))

20

In [ ]:
#Str to Float
print(float("20.141") + 85.1)

105.24099999999999

In [ ]:
#Boolean to String
print(str(True))

True

#Entrada e saída
input( ) Sempre retorna o valor em Str

print

In [ ]:
entrada = input().split()
#digite um valor, pressione espaço, digite outro  . . .
distancia = int(entrada[0])
diametro1 = int(entrada[1])
diametro2 = int(entrada[2])

print(distancia, diametro1, diametro2)
icm = distancia/(diametro1+diametro2)
print("%.3f" % icm)

8 7 3
8 7 3
0.800

In [ ]:

#ENTRAR 3 VALORES, SOMAR OS 3 DIVIDIR PELO SEGUNDO E MOSTRAR SOMENTE 2 CASAS DECIMAIS
base = input().split()
valor1 = int(base[0])
valor2 = int(base[1])
valor3 = int(base[2])


varsoma = valor1+valor2+valor3
divisao = varsoma/valor2
print("%.2f" % divisao)

9 6 1
2.67

In [ ]:
valores = input().split()
tempo_gasto = float(valores[0])
velocidade_m = float(valores[1])
km_l = 12
distancia = velocidade_m*tempo_gasto
litros = distancia/km_l

print("%.3f" % litros)

2 80
13.333

In [ ]:
valores = input().split()
tempo_gasto = float(valores[0])
velocidade_m = float(valores[1])

litros = velocidade_m*tempo_gasto/12

print("%.3f" % litros)

3 70
17.500

In [ ]:
nome = input()
sobrenome = "Sobrenome"
print(nome, sobrenome)
print(nome, sobrenome, end = '...\n')
print(nome, sobrenome, sep = " ")

Marco
Marco Sobrenome
Marco Sobrenome...
Marco Sobrenome

#Operadore aritmeticos
"+"	Adição	Realiza a soma de ambos operandos.

"-"	Subtração	Realiza a subtração de ambos operandos.

"*"	Multiplicação	Realiza a multiplicação de ambos operandos.

"/"	Divisão	Realiza a Divisão de ambos operandos.

"//"	Divisão inteira	Realiza a divisão entre operandos e a parte decimal de ambos operandos.

"%"	Módulo	Retorna o resto da divisão de ambos operandos.

"**"	Exponenciação	Retorna o resultado da elevação da potência pelo outro.

In [ ]:
quatro = 4
dois = 2

soma = quatro + dois
print("soma:",soma)

subtracao = quatro - dois
print("subtracao:",subtracao)

multiplicacao = quatro * dois
print("multiplicacao:",multiplicacao)

divisao = quatro / dois
print("divisao:",divisao)

divisao_inteira = quatro // dois
print("divisao inteira:",divisao_inteira)

modulo = quatro % dois
print("modulo:",modulo)

exponenciacao = quatro ** dois
print("exponenciacao:",exponenciacao)

soma: 6
subtracao: 2
multiplicacao: 8
divisao: 2.0
divisao inteira: 2
modulo: 0
exponenciacao: 16

#Operadores de Comparação

"=="	Igual a	Verifica se um valor é igual ao outro

"!="	Diferente de	Verifica se um valor é diferente ao outro

">"	Maior que	Verifica se um valor é maior que outro

">="	Maior ou igual	Verifica se um valor é maior ou igual ao outro

"<"	Menor que	Verifica se um valor é menor que outro

"<="	Menor ou igual	Verifica se um valor é menor ou igual ao outro

In [ ]:
var = 5

if var == 5:
    print('Os valores são iguais')

if var != 7:
    print('O valor não é igual a 7')

if var > 2:
    print('O valor da variável é maior de 2')

if var >= 5:
    print('O valor da variável é maior ou igual a 5')

if var < 7:
    print('O valor da variável é menor que 7')

if var <= 5:
    print('O valor da variável é menor ou igual a 5')

Os valores são iguais
O valor não é igual a 7
O valor da variável é maior de 2
O valor da variável é maior ou igual a 5
O valor da variável é menor que 7
O valor da variável é menor ou igual a 5

In [ ]:
import time
operador = input()
if operador == "soma":
  time.sleep(10)
  valor1 = int(input())
  valor2 = int(input())
  print(valor1+valor2)
elif operador == "sub":
  valor1 = int(input())
  valor2 = int(input())
  print(valor1-valor2)
else:
  print('cálculo não encontrado')

soma
12
4
16

#Operadores de Atribuição
=	x = 1

+=	x = x + 1

-=	x = x - 1

*=	x = x * 1

/=	x = x / 1

%=	x = x % 1

In [ ]:
numero01 = 5
numero01 = numero01+7
numero01 += 7
print(numero01)

numero02 = 5
numero02 -= 3
print(numero02)

numero03 = 5
numero03 *= 2
print(numero03)

numero04 = 5
numero04 /= 4
print(numero04)

numero05 = 5
numero05 %= 2
print(numero05)

12
2
10
1.25
1

#Operadores Lógicos
"and"	Retorna True se ambas as afirmações forem verdadeiras

"or"	Retorna True se uma das afirmações for verdadeira

"not"	retorna Falso se o resultado for verdadeiro

In [ ]:
num1 = 3
num2 = 4

# Exemplo and
if num1 == 3 and num2 < 8:
    print("As Duas condições são verdadeiras")

# Exemplo or
if num1 > 4 or num2 <= 8:
    print("Uma ou duas das condições são verdadeiras")

# Exemplo not
if not (num1 < 3 and num2 > 8):
    print('Inverte o resultado da condição entre os parânteses')

As Duas condições são verdadeiras
Uma ou duas das condições são verdadeiras
Inverte o resultado da condição entre os parânteses

#Operadores de Identidade
"is"	Retorna True se ambas as variáveis são o mesmo objeto

"is not"	Retorna True se ambas as variáveis não forem o mesmo objeto

In [ ]:
lista = [1, 2, 3]
outra_lista = [1, 2, 3]
recebe_lista = lista

# Recebe True, pois são o mesmo objeto
print(f"São o mesmo objeto? {lista is recebe_lista}")

# Retorna False, pois são objetos diferentes
print(f"São o mesmo objeto? {lista is outra_lista}")

São o mesmo objeto? True
São o mesmo objeto? False

In [ ]:
tupla = (1, 2, 3)
outra_tupla = (1, 2, 3)

print(f"Os objetos são diferentes? {outra_tupla is tupla}")

Os objetos são diferentes? False

#Operadores de Associação
"in"	Retorna True caso o valor seja encontrado na sequência

"not in"	Retorna True caso o valor não seja encontrado na sequência

In [ ]:
lista = ["Python", 'Academy', "Operadores", 'Condições']

# Verifica se existe a string dentro da lista
print('Python' in lista)  # Saída: True

# Verifica se não existe a string dentro da lista
print('SQL' not in lista) # Saída: True

True
True

In [ ]:
x = (22 - 10) * 3
print(x)

36

#For

In [ ]:
lista = [1, 2, 3, 4, 5]

for item in lista:
    print(item)
else:
    print('Todos os items foram exibidos com sucesso')

1
2
3
4
5
Todos os items foram exibidos com sucesso

In [ ]:
computador = ['Processador', 'Teclado', 'Mouse']

for item in computador:
    print(item)

Processador
Teclado
Mouse

In [ ]:
notas = {
    'Potuguês': 7,
    'Matemática': 9,
    'Lógica': 7,
    'Algoritmo': 7
}

for chave, valor in notas.items():
    print(f"{chave}: {valor}")

Potuguês: 7
Matemática: 9
Lógica: 7
Algoritmo: 7

In [ ]:
for caractere in 'Python',"teste":
    print(caractere)

Python
teste

#While

In [ ]:
contador = 0

while contador < 10:
    print(f'Valor do contador é {contador}')
    contador += 1

Valor do contador é 0
Valor do contador é 1
Valor do contador é 2
Valor do contador é 3
Valor do contador é 4
Valor do contador é 5
Valor do contador é 6
Valor do contador é 7
Valor do contador é 8
Valor do contador é 9

In [ ]:
contador = 0

while contador < 10:
    contador += 1
    print(f'Valor do contador é {contador}')
else:
    print(f'Fim do while e o valor do contador é {contador}')

Valor do contador é 1
Valor do contador é 2
Valor do contador é 3
Valor do contador é 4
Valor do contador é 5
Valor do contador é 6
Valor do contador é 7
Valor do contador é 8
Valor do contador é 9
Valor do contador é 10
Fim do while e o valor do contador é 10

#Auxiliadores de Loop
Break
Continue
Pass

In [ ]:
for num in range(10):
    # Se o número for igual a = 5, devemos parar o loop
    if num == 5:
        # Break faz o loop finalizar
        break
    else:
        print(num)

0
1
2
3
4

In [ ]:
num = 0
while num < 5:
    num += 1

    if num == 3:
        continue

    print(num)

1
2
4
5

In [ ]:
for item in range(5000):
    pass

while False:
    pass

class Classe:
    pass

if True:
    pass
else:
    pass

def funcao():
    pass

#pass nada mais é que uma forma de fazer um código que não realiza operação nenhuma. (pula tudo)

#Funções uteis para Loop
range( )

enumerate( )

In [ ]:
for num in range(2):
  print(num)

0
1

In [ ]:
for num in len("Matheus"):
  print(num)

TypeError: ignored

In [ ]:
contador = 0
computador = ['Processador', 'Teclado', 'Mouse']
#SEM ENUMERATE
for elemento in computador:
    print(f"Índice={contador} | Valor={elemento}")
    contador += 1

Índice=0 | Valor=Processador
Índice=1 | Valor=Teclado
Índice=2 | Valor=Mouse

In [ ]:
computador = ['Processador', 'Teclado', 'Mouse']
for indice, valor in enumerate(computador):
    print(f"Índice={indice} | Valor={valor}")

Índice=0 | Valor=Processador
Índice=1 | Valor=Teclado
Índice=2 | Valor=Mouse

In [ ]:
computador = ['Processador', 'Teclado', 'Mouse']
for indice in range(len(computador)):
    print(f"Índice={indice} | valor={computador[indice]}")

Índice=0 | valor=Processador
Índice=1 | valor=Teclado
Índice=2 | valor=Mouse

#Strings

In [ ]:
nome = "Erick"

print(nome[0])
print(nome[1])
print(nome[2])
print("*"*20)
print(nome[-1])
print(nome[-2])
print(nome[-3])

E
r
i
********************
k
c
i

In [ ]:
nome = "Pythonista"

# Desde a posição de índice 3 (que é o "h")
# até a última posição da string
print(nome[3:])

# Desde a posição de índice -3 (que é o "s")
# até a última posição da string
print(nome[-3:])

honista
sta

In [ ]:
texto = "Python é uma linguagem de programação de alto nível"

print(texto[13:23])

linguagem

In [ ]:
var1 = 'variável'
var2 = 'string'

print(var1 + var2)
print(var1 + " " + var2)

variávelstring
variável string

In [ ]:
linha = '-'

print(linha * 28)
print("Nosso código")
print(linha * 28)

----------------------------
Nosso código
----------------------------

In [ ]:
var = 'Média: '

print(var + 10)
#da erro

TypeError: ignored

In [ ]:
print('{} {}'.format(var, 1))

Média:  1

In [ ]:
qtd_macas = 10
qtd_melancias = 3
qtd_uvas = 22.2

texto = 'Vou comprar {} maças, trocar {} melancias e comer {} uvas'
print(texto.format(qtd_macas, qtd_melancias, qtd_uvas))

Vou comprar 10 maças, trocar 3 melancias e comer 22.2 uvas

In [ ]:
prefixo = "MSCBGM"
sufixo = "ola"

for caractere in prefixo:
    print(caractere + sufixo)

Mola
Sola
Cola
Bola
Gola
Mola

In [ ]:
texto = "As strings são sequências de caracteres"

print('são' in texto)

True

In [ ]:
texto = "Tenha um ótimo dia"

if 'dia' in texto:
    print("A sequência de caractere existe na string!")

A sequência de caractere existe na string!

In [ ]:
texto = "A tecnologia move o mundo!"

print('qualidade' not in texto)

if 'qualidade' not in texto:
    print("A palavra 'qualidade' realmente não existe dentro da string!")

True
A palavra 'qualidade' realmente não existe dentro da string!

In [ ]:
variavel = "Aprenda "o" Python "
print(variavel)
#da erro

SyntaxError: ignored

In [ ]:
variavel = "Aprenda \"o\" Python"
print(variavel)

Aprenda "o" Python

In [ ]:
variavel = "Contra \\' \\ barra"
print(variavel)

Contra \' \ barra

In [ ]:
variavel = "Desejo quebrar \n essa linha"
print(variavel)

Desejo quebrar
 essa linha

In [ ]:
variavel = "Quatro espaço \t para um tab"

print(variavel)

Quatro espaço 	 para um tab

In [ ]:
#backspace \b
variavel = "Aa\b Bb\b Cc\b"
print(variavel)

Aaf Bb Cc

In [ ]:
#Representando Strings em Octal e Hexadecimal
variavel = "\101 \102 \103 \104 - \060 \061 \062 \063"
print(variavel)
variavel = "\x61 \x62 \x63 \x64 - \x30 \x31 \x32 \x33"
print(variavel)

A B C D - 0 1 2 3
a b c d - 0 1 2 3

In [ ]:
curso = "Python"
print(curso[::-1])

nohtyP

Funções Def()

In [ ]:
def soma(x,y):
  print(x+y)

soma(2,4)

6

Funções Lambda

In [ ]:
x = lambda a, b, c : a + b + c
print(x(2, 6, 2))

10

In [ ]:
x = lambda a, b, c : (a * b) - c + b
print(x(2, 6, 2))

16

Classes

In [ ]:
class Carro:
  def __init__(self, marca, modelo, ano, renavam, placa, cor):
    self.marca = marca
    self.modelo = modelo
    self.ano = ano
    self.renvam = renavam
    self.placa = placa
    self.cor = cor

c1 = Carro("BMW", "X6 XDRIVE 50i M Sport 4.4 Bi-Turbo", 2015,"59088169120", "HJV9981", "Preto")
print(c1.marca)

BMW